#MainDiv {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: url("backgroundimage.jpg") center;
  z-index: 0;
}

#ResultScreen {
  position: relative;
  overflow-wrap: break-word;
  overflow-y: auto;
  text-align: center;
  left: 1%;
  top: 1%;
  width: 100%;
  height: 10%;
  border-radius: 20vw;
  background-color: rgba(235, 235, 235, 0.6);
  z-index: 3;
}

#CalculatorDiv {
  position: relative;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -1px rgba(100, 100, 100, 0.84);
  background-color: rgba(222, 222, 222, 0.3);
  backdrop-filter: blur(10px);
  z-index: 2;
}
.ButtonDefault {
  text-align: center;
  font-size: 2vw;
  border-radius: 20%;
  width: 25%;
  height: 10%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
  background-color: rgba(235, 235, 235, 0.8);
  border: 0px;
}

#buttonsDiv {
  display: grid;
  grid-template-columns: auto auto auto;
}
