#MainDiv {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: url("backgroundimage.jpg") center;
  z-index: 0;
}
#texttest {
  position: relative;
  margin: 10% 30% 0%;
  width: 40%;
  height: 10%;
  font-size: 2vw;
  box-shadow: 5px 5px 7px red;
  z-index: 3;
}

#ResultScreen {
  position: relative;
  overflow-wrap: break-word;
  overflow-y: auto;
  text-align: center;
  margin: 3% 30% 0px;
  width: 40%;
  height: 10%;
  border-radius: 20vw;
  background-color: rgba(235, 235, 235, 0.6);
  filter: blur;
  z-index: 3;
}

#CalculatorDiv {
  position: relative;
  margin: 10% 25%;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -1px rgba(100, 100, 100, 0.84);
  background-color: rgba(25, 55, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 2;
}
