#MainDiv {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: url("images/backgroundimage.jpg") center;
  z-index: 0;
}

#ResultScreen {
  position: relative;
  overflow-wrap: break-word;
  overflow-y: auto;
  text-align: center;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  border-radius: 20vw;
  background-color: rgba(235, 235, 235, 0.6);
  z-index: 3;
}

#CalculatorDiv {
  position: relative;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -1px rgba(100, 100, 100, 0.84);
  background-color: rgba(222, 222, 222, 0.3);
  backdrop-filter: blur(10px);
  z-index: 2;
}
.ButtonDefault {
  text-align: center;
  font-size: 3rem;
  border-radius: 1.2rem;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
  background-color: rgba(235, 235, 235, 0.8);
  border: 0px;
}

#buttonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 90%;
  background-color: rgba(124, 4, 4, 0);
  display: grid;
  gap: 0.3rem;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  align-items: stretch;
  justify-items: stretch;
}

#BackSpace {
  background: url(Images/Backspace.svg) no-repeat center;
  background-size: 100%;
}
